@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* "Open Sans", serif */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: rgb(145, 195, 200);
  margin: 1rem;
}

html {
  font-family: "Open Sans", serif;
}
.wrapper-container {
  background-color: #ebeae9;
}

/* Nav section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px;
  margin-bottom: 5rem;
}

nav ul {
  margin-left: 5rem;
  list-style: none;
}

li a {
  text-decoration: none;
  color: #000;
}

nav .burger {
  margin-left: 5rem;
  cursor: pointer;
}

nav .burger span {
  height: 4px;
  border: 2px solid black;
  margin: 4px;
  background-color: #000;
}

/* Nav End */

/* Header Area */

header {
  margin: 6rem;
}

.main-headings {
  width: 50%;
  font-size: 3rem;
  font-weight: 600;
}

.primary-headings {
  width: 50%;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  line-height: 50px;
}

.bg-gray {
  background-color: rgb(53, 53, 53);
  color: #fff;
  padding: 12px 10px;
  font-weight: bold;
  border-radius: 10px;
}

/* Main Start */

main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4rem;
  justify-content: center;
  margin: 40px;
}

main .img {
  width: 40%;
  margin: 10px;
}

/* Main ENd */

/* SECTION THREE START */

.section-three {
  margin-left: 5rem;
}

.section-three .primary-headings {
  margin-bottom: 10rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section-three .item h1 {
  font-size: 2rem;
  color: rgb(97, 97, 97);
}

.section-three img {
  width: 400px;
  height: 500px;
  margin: 50px;
}

/* SECTION THREE END */

/* FOOTER START */

footer {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  color: white;
  background: rgb(144, 195, 200);
}

footer .logo-container h1 {
  font-size: 4rem;
  font-family: "Open Sans", serif;
  margin-bottom: 20px;
}

footer .logo-container p {
  max-width: 400px;
  font-family: sans-serif;
  line-height: 25px;
}

footer .about-company {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

footer .about-company .container {
  margin-right: 40px;
  margin-top: 20px;
}

.about-company .container h1 {
  margin-bottom: 50px;
}

.about-company .container p {
  font-family: sans-serif;
  line-height: 25px;
}

/* PROJECT END */

/* RESPONSIVENESS */

@media screen and (max-width: 768px) {
  header .main-headings {
    width: 100%;
    text-align: justify;
    text-align-last: center;
  }
  header .primary-headings {
    width: 100%;
    font-size: 1.5rem;
  }
  .section-three .main-headings {
    width: 100%;
    text-align: justify;
    text-align-last: center;
  }
  .section-three .primary-headings {
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
  }
  .section-three,
  header {
    margin: 1.5rem;
  }
  .section-three img {
    margin: 0;
    width: 85vw;
  }
  footer .about-company {
    flex-direction: column;
  }
  .item h1 {
    text-align: center;
  }
}
